* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: gray;
}

.center {
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

#grid {
    background-color: white;
    display: grid;
    align-items: center;
    width: 500px; 
    height: 500px; 
}

.square {
    height: 12px;
    width: 12px;
    outline: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

#buttonSection {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 30px;
    gap: 2em;
}

#buttonSection > button {
    width: 111px;
    height: 40px;
    font-size: 1.1em;
    border: none;
    border-radius: 0.2em;
    cursor: pointer;
}

.title {
    color: white;
    text-align: center;
}

@media only screen and (max-width: 550px) {
    #grid {
        width: 325px;
        height: 325px;
    }
    .square {
        height: 7.5px;
        width: 7.5px;
    }
    #buttonSection {
        gap: 1em;
    }
    #buttonSection {
        gap: 1em;
    }
}
